<div class="jumbotron">
    <h2> Contáctanos </h2>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
              <div class="col-md-4">
                <center>
                  <span class="glyphicon glyphicon-envelope fa-5x"></span>
                  <br>
                  <h4 class="footertext">Horario de Atención.</h4>
                  <p class="footertext">Lunes - Viernes 10:00 a.m - 6:00 p.m.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                <span class="glyphicon glyphicon-envelope fa-5x"></span>
                  <br>
                  <h4 class="footertext">Correo Electrónico.</h4>
                  <p class="footertext">Puedes enviarnos un correo electrónico para acordar.<br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                <span class="glyphicon glyphicon-envelope fa-5x"></span>
                  <br>
                  <h4 class="footertext">Chat en línea.</h4>
                  <p class="footertext">En esta sección puedes contactarnos.<br>
                </center>
              </div>
            </div>
            <div class="row">
            <p><center><a href="#">Centros de Entretenimiento</a> <p class="footertext">Copyright 2017</p></center></p>
             </div>
    </div>
</div>