<p id="notice"><%= notice %></p>

<h1>Realidad Aumentada</h1>

<h2>Para poder disfrutar de la realidad aumentada necesita capturar la siguiente marca:</h2>
<br>
<img class="" src="../64.png" alt="Imperial">
<br>



<a href= "<%= aumentaties_path %>" target=_blank><button type="button" class="btn btn-success">Realidad Aumentada</button></a>

<br>