<br>
<br>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="well">

        <!-- Codigo Relojes Gratis www.creatupropiaweb.com -->
        <embed src="http://www.creatupropiaweb.com/recursos/relojes/coleccion_relojes-flash/clock_216.swf" width="121" height="125"></embed><!---- Final C贸digo Reloj Flash www.Crea tu Propia Web.com ---->
        <br>
        <br>

        <p><!-- www.TuTiempo.net - Ancho:155px - Alto:240px -->
        <h5>Pron贸stico del tiempo</h5>
        <div id="TT_RCSgrBYBYIEKEQsAwAzzjzDzD6lA1fCFbtEt1ci5qEDoGo3o3">Pron贸stico del tiempo</div>
        <p><script type="text/javascript" src="http://www.tutiempo.net/widget/eltiempo_RCSgrBYBYIEKEQsAwAzzjzDzD6lA1fCFbtEt1ci5qEDoGo3o3"></script></p>
      </div>
    </div>

    <div class="col-sm-8 text-left">
      <%= yield %>
    </div>

    <div class="col-sm-2 sidenav">
      <div class="well">
        <h5>Ubicaci贸n</h5>
        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.8208642035493!2d-100.93805098632001!3d21.159526088679986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3fa9ddd9c421%3A0x2da7d7f6a736a4d7!2sOaxaca+30%2C+Centro%2C+37800+Dolores+Hidalgo+Cuna+de+La+Independ%2C+Gto.!5e0!3m2!1ses-419!2smx!4v1478845008401" width="160" height="220" frameborder="0" style="border:0" allowfullscreen></iframe></p><br><br>

        Traductor<br>
        <div id="google_translate_element">
        </div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>

    </div>
  </div>
</div><br><br>
