<div class="jumbotron">
  <div class="container">

    <h1> Título </h1>
    <a href="http://en1mes.com"> En1Mes</a><p>
    <a href="http://en1mes.com" target="_blank" class="btn btn-default">
      En1Mes <span class="glyphicon glyphicon-fire" style="color: orange"> </span>
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="page-header">
        <h1 style="display: inline">Example page header</h1>
        <span class="label label-default">New</span>
      </div>
      Bootstrap es un framework desarrollado y liberado por Twitter que tiene
      como objetivo facilitar el diseño web. Permite crear de forma sencilla
      webs de diseño adaptable, es decir, que se ajusten a cualquier dispositivo
      y tamaño de pantalla y siempre se vean igual de bien. Es Open Source o
      código abierto, por lo que lo podemos usar de forma gratuita y sin restricciones.
    </div>

    <div class="col-md-4">
        <div class="page-header">
          <h1>Example page header</h1>
        </div>
        Bootstrap es un framework desarrollado y liberado por Twitter que tiene
        como objetivo facilitar el diseño web. Permite crear de forma sencilla
        webs de diseño adaptable, es decir, que se ajusten a cualquier dispositivo
        y tamaño de pantalla y siempre se vean igual de bien. Es Open Source o
        código abierto, por lo que lo podemos usar de forma gratuita y sin restricciones.
    </div>

    <div class="col-md-4">
      <div class="page-header">
        <h1>Example page header</h1>
      </div>
      Bootstrap es un framework desarrollado y liberado por Twitter que tiene
      como objetivo facilitar el diseño web. Permite crear de forma sencilla
      webs de diseño adaptable, es decir, que se ajusten a cualquier dispositivo
      y tamaño de pantalla y siempre se vean igual de bien. Es Open Source o
      código abierto, por lo que lo podemos usar de forma gratuita y sin restricciones.

      <p>Erika Salazar</p>

      <h2> Subtítulos </h2>

      <h3> Sub subtítulo </h3>

      <a href="http://en1mes.com">
        <img src="http://www.en1mes.com/assets/logo-79cc18afeb892865eb97c6b6641f7dc5.png"
             alt="Logo de en 1 mes" class="img-responsive">
      </a>

      <hr>

      <ul>
        <li> Item 1 </li>
        <li> Item 2 </li>
        <li> Item 3 </li>
      </ul>

    </div>
  </div>
</div>

